[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RcisTarget"]
	path = RcisTarget
	url = https://github.com/aertslab/rcistarget
